<h1>Home Dashboard</h1>

<h2>Net Cash Flows<h2>

<!--bar graph representing net cash flows by month-->



<!--table showing net cash flows calculation by month-->


<%= @jan_incomes %>

 <% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
 </ul>
 <% end %>


