<h1>Home Dashboard</h1>

<h2>Net Cash Flows<h2>

<!--bar graph representing net cash flows by month-->



<!--table showing net cash flows calculation by month-->


<%= @monthly_income %>

 <% @list_of_incomes.each do |an_income| %>
<ul>
  <li><%= an_income.expected_date.month %>
    </li>
  <li><%= an_income.amount %>
  </li>
 </ul>
 <% end %>



<h3>Net Cash Flows</h3>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Jan
        </th>

        <th>
          Feb
        </th>

        <th>
          July
        </th>
      </tr>

      <tr>
        <td>
          Income
        </td>
        <td>
        Sample
        </td>
        <td>
        Sample
        </td>
        <td>
        Sample
        </td>
      </tr>

      <tr>
        <td>
          Expenses
        </td>
      </tr>

      <tr>
        <td>
          Net Cash Flow
        </td>
      </tr>

    </table>
  </div>
</div>

<hr>

