<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

<nav>
  <ul>
    <li><a href="/user_sign_up">Sign Up
      </li>
    <li><a href="/user_sign_in">Sign In
      </li>
    <li><a href="/user_sign_out">Sign Out
      </li>
    <li><a href="/incomes">My Incomes
      </li>
    <li><a href="/expenses">My Expenses
      </li>
  <ul>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
